#nav-bar{
    position: relative !important;
    background-color: #FFB11B!important;
    height: 44px;
    align-content: center!important;
}

.alert-colla{
    position: absolute;
    z-index: 100;
    right: 20px;
    bottom: 10px;
}

.navbar-brand{
    font-family: "Yellowtail", serif;
    font-size: 28px;
}

#menu-btn:checked~#side-menu{
    width: 0;
}

#main-body{
    display: flex;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

#side-menu{
    z-index: 100;
    position: fixed;
    display: flex;
    width: 255px;
    background-color: #FAFAFA;
    height: calc(100vh - 44px);
    transition: ease .5s;
    padding-top: 30px;
    overflow: hidden;
    flex-direction: column;
}

#search-bar{
    height: 34px;
    width: inherit;
    padding-left: 20px;
    padding-right: 10px;
}

#search-btn{
    background-color: #FFB11B!important;
    display: flex;
    border-color: unset!important;
    align-items: center;
    border-radius: 50%;
    height: 100%;
    width: 34px;
    flex-direction: column;
    justify-content: center;
}

#search-btn:hover{
    background-color: #d38f10 !important;
}

input[type=text]:focus {
    border-color: unset!important;
    box-shadow: unset !important;
}

button[type=button]:focus {
    border-color: unset!important;
    box-shadow: unset !important;
}

#side-list{
    flex-wrap: nowrap;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0!important;
}

.side-list3{
    flex-wrap: nowrap;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0!important;
}

.list-items{
    display: flex;
    white-space: nowrap;
    height: 34px;
    width: 100%;
    align-items: center;
    overflow: hidden;
    color: #2B2B2B!important;
    font-size: 14px!important;
    flex-wrap: wrap;
    padding-bottom: 28px;
}

.active{
    background-color: #EEEEEE!important;
}

#side-list>li{
    margin-bottom: 5px;
}

.list-items:hover{
    background-color: #EEEEEE!important;
}

.side-title{
    position: relative;
    display: flex;
    padding-left: 35px;
    padding-right: 10px;
    align-items: center;
    margin-bottom: 7px;
}

.notification{
    width: 300px;
}

.notification-items{
    width: 100%;
    /*background-color: #0a53be;*/
    height: fit-content;
    padding-top: 10px;
    padding-bottom: 10px;
    border-style: solid;
    border-width: 1px;
    border-top-color: #8a8a8a;
    border-bottom-color: #8a8a8a;
    border-left-style: hidden;
    border-right-style: hidden;
}

.notification-items-contents{
    font-size: 14px;
    color: #484848;
}

.notification-items-time{
    font-size: 12px;
    color: #a9a9a9;
}

.notification-clear{
    transition: ease .4s;
}

.notification-clear:hover{
    background-color: #e1e1e1;
}

p{
    margin-bottom: 0!important;
}

#category_list{
    font-weight: bold;
    font-size: 14px;
    color: #6E6E6E;
}

button,
input {
    font-family: Microsoft YaHei, Heiti SC, tahoma, arial, Hiragino Sans GB, "\5B8B\4F53", sans-serif;
    border: 0;
    outline: none;
}

.side-title-btn{
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    text-align: center;
    height: 28px;
    width: 28px;
    border-radius: 5px;
    background-color: #FAFAFA;
    transition: ease .4s;
}

.side-title-btn:hover{
    background-color: #EEEEEE;
}

#side-title-btn1{
    right: 40px;
}

#side-title-btn2{
    transition: transform .4s ease;
}

.side-list2{
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
}

::-webkit-scrollbar {
  display: none;
}

.side-bottom{
    position: absolute;
    width: 100%;
    bottom: 0;
}

.circle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 15px;
}

.list-items2{
    position: relative;
    display: flex;
    white-space: nowrap;
    height: 34px;
    width: 100%;
    align-items: center;
    overflow: hidden;
    color: #2B2B2B!important;
    font-size: 14px!important;
}

.list-items2:hover{
    background-color: #EEEEEE!important;
}

.list-item-link{
    position: absolute;
    left: 0;
    width: 65%;
    height: 100%;
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    padding-left: 16px;
    color: black;
    text-decoration: none;
}

.list-item-link:hover{
    color: black;
}

.list-items2:hover #edit-btn{
    visibility: visible;
}

.list-items2:hover #delete-btn{
    visibility: visible;
}

#delete-btn{
    visibility: hidden;
    right: 40px;
    background-color: transparent!important;
    transition: visibility .1s ease;
}

#edit-btn{
    visibility: hidden;
    right: 10px;
    background-color: transparent!important;
    transition: visibility .1s ease;
}

#delete-btn:hover{
    background-color: #FAFAFA!important;
}

#edit-btn:hover{
    background-color: #FAFAFA!important;
}

.message-info{
    position: absolute;
    right: 70px;
    cursor: pointer;
}

.add-btn{
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.add-information{
    font-size: 14px;
    color: #a4a4a4;
}

.add-input:focus{
    border-color: #FFB11B;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(253, 177, 13, 0.25);
}

#add-container{
    width: 40%;
}

.modal-body-row{
    margin-bottom: 10px;
}

.mail-notifier-check{
    transition: ease .3s;
}

.mail-notifier-check:checked{
    background-color: #FFB11B;
    border-color: #FFB11B;
}

.mail-notifier-check:focus{
    border-color: #FFB11B;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(253, 177, 13, 0.25);
}

.mail-notifier-check:hover{
    border-color: #FFB11B;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(253, 177, 13, 0.25);
}

.modal-footer{
    justify-content: space-between;
}