/* ///////////////////////////////////////////////////////////////////////////*/
/* @file: search.css*/
/* @time: 2022/10/19*/
/* @author: Yuheng Liu*/
/* @email: sc20yl2@leeds.ac.uk && i@bilgin.top*/
/* @organisation: University of Leeds*/
/* @url: colla.bilgin.top*/
/* ///////////////////////////////////////////////////////////////////////////*/

/* ///////////////////////////////////////////////////////////////////////////*/
/*search title*/
.center-title-bar-search{
    margin-top: 20px;
    display: flex;
    align-items: center;
}

/*return button*/
.return-btn{
    margin-left: 10px;
    height: 35px;
    width: 35px;
    border-radius: 5px;
    transition: ease .4s;
    background-color: #eaecef;
    display: flex;
    align-items: center;
    justify-content: center;
}

.return-btn:hover{
    background-color: #e2e3e5;
}
/* ///////////////////////////////////////////////////////////////////////////*/
