<div class="modal fade" id="statistic">
    <div class="modal-dialog modal-lg" id="add-container">
        <div class="modal-content">

            <!-- 模态框头部 -->
            <div class="modal-header">
                <h4 class="modal-title">Statistic</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- 模态框内容 -->
            <div class="modal-body statistic-body">
                <div class="pie-chart">
                    <p>Category</p>
                    <iframe src="../static/echarts/pie_radius.html"
                            scrolling="no"
                            width="330"
                            height="200"
                            frameborder="no">
                    </iframe>
                </div>
                <div class="pie-chart">
                    <p>Todos info</p>
                    <iframe src="../static/echarts/bar_chart.html"
                            scrolling="no"
                            width="330"
                            height="200"
                            frameborder="no">
                    </iframe>
                </div>
                <div class="calender-chart" id="calender-chart">
                    <p style="margin-left: 23px">Overall</p>
                    <iframe src="../static/echarts/calendar_chart.html"
                            scrolling="no"
                            width="760"
                            height="210"
                            frameborder="no">
                    </iframe>
                </div>
            </div>
            <!-- 模态框底部 -->
            <div class="modal-footer">
                <button type="submit" class="btn btn-warning" data-bs-dismiss="modal">Complete</button>
            </div>
        </div>
    </div>
</div>

<div class="center-title-bar">
    <p class="center-title">{{ pagetitle }}</p>
    {% block search %}{% endblock %}
    <div class="center-progress" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Statistic"
         onclick="openStatistic()">
        <p class="center-progress-title">Progress: {{ completed_sum }} / {{ todo_sum }}</p>
        <div class="progress" id="progress-bar">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning"
                 style="width:{{ todo_rate }}%"></div>
        </div>
    </div>
</div>

<hr>

<div class="task-title-bar">
    <p class="task-title">Todos</p>
    <div class="task-title-button">
        <div class="dropdown task-title-button2">
            <button type="button" class="btn btn-primary dropdown-toggle task-title-button3"
                    data-bs-toggle="dropdown">
                Filter
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" onclick="indexAll()">ALL</a></li>
                <li><a class="dropdown-item" onclick="indexCompleted()">Completed</a></li>
                <li><a class="dropdown-item" onclick="indexUnCompleted()">Uncompleted</a></li>
            </ul>
        </div>
        <div class="dropdown task-title-button2">
            <button type="button" class="btn btn-primary dropdown-toggle task-title-button3"
                    data-bs-toggle="dropdown">
                Sort
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" onclick="indexAssessment()">Assessment name</a></li>
                <li><a class="dropdown-item" onclick="indexModule()">Module name</a></li>
                <li><a class="dropdown-item" onclick="indexDuedate()">Due date</a></li>
                <li><a class="dropdown-item" onclick="indexDateadded()">Date added</a></li>
            </ul>
        </div>
    </div>
</div>