{% extends "base.html" %}

{% block title %}Colla{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <script src="{{ url_for('static', filename='script/index.js') }}"></script>
{% endblock %}

{% block container %}
    <div class="container-box" id="container-box">
        <div class="center" id="center-box">

            {% include "container_title.html" %}

            {% include "item_container.html" %}

        </div>
    </div>
{% endblock %}